@media (min-width: 375px) and (max-width: 667px) {
    .nav__galeria ul li {
      background-color: aquamarine;
    }
  }

    
  @media (min-width: 375px) and (max-width: 667px) {
    .nav__artistas ul li {
      background-color: aquamarine;
    }
  }

  @media (min-width: 375px) and (max-width: 667px) {
    .nav__musica ul li {
      background-color: aquamarine;
    }
  }

  @media (min-width: 375px) and (max-width: 667px) {
    .nav__shows ul li {
      background-color: aquamarine;
    }
  }