@media (max-width: 375px) {
    .nav__galeria ul li {
      background-color: aquamarine;
    }
  }

    
  @media (max-width: 375px){
    .nav__artistas ul li {
      background-color: aquamarine;
    }
  }

  @media (max-width: 375px){
    .nav__musica ul li {
      background-color: aquamarine;
    }
  }

  @media (max-width: 375px){
    .nav__shows ul li {
      background-color: aquamarine;
    }
  }

  